:root{

}


body{
    background: linear-gradient(0.25turn, #054059, #f8f8e1, #65036c);/*old middle color :ebf8e1*/
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}



.loginBox{
    background: transparent;/*old middle color :ebf8e1*/
    
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    height: 100dvh;
}

.loginTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 3em;
    border-bottom: solid black 2px;
    margin: 1rem;
    
    
}

.inputsBox{
    border: solid black 2px;
    border-radius: 1em;
    padding: 1em;
    width:25em
}
.inputs{
    margin:1em;
    font-size: 1.5em;
    width:100%
}
.inputsTitle{
    text-decoration: underline dashed black 2px;
    margin-bottom: .5rem;
    padding-left: 1rem;
    
}

.inputs input{
    font-size: 16px;
    border:none;
    transition: all ease 0.5s;
    border-radius: 4px;
    padding-left: 1rem;
    padding-right:1rem;
    padding-top:0.875rem;
    padding-bottom:0.875rem;
    height: 1.25rem;
    width:80%
}
.inputs input:hover{
    cursor: pointer;
}
.inputs input:focus{
    outline-style: solid;
    outline-color: black;
    outline-width: 2px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.7);
}

.differentAccount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .75em;
    padding-bottom: 0.5em;

}

.changeForm{
    color: blue;
    text-decoration: underline;
}
.changeForm:hover{
    color: red;
}